<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Title</th>
            <th><a class="btn btn-primary btn-sm" [routerLink]="'/post/create/'">Create</a></th>
        </tr>
    </thead>
    <tbody>
        <!-- <app-post-item *ngFor="let post of posts" (refresh)="ngOnInit()" [post]="post"></app-post-item> -->
        <tr *ngFor="let post of posts">
            <th>{{ post.id }}</th>
            <th><a [routerLink]="'/post/' + post.id">{{post.title}}</a></th>
            <td>
                <a class="btn btn-primary btn-sm" [routerLink]="'/post/update/' + post.id">Update</a>
                <button class="btn btn-danger btn-sm" title="remove post" (click)="delete(post)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<app-hydra-api-pagination [hydraViewCollection]="hydraViewCollection" (refresh)="getPosts($event)"></app-hydra-api-pagination>