<div class="row">
  <div class="col-12 col-md-9">
    <hero-menu></hero-menu>
  </div>
  <div class="col-12 col-md-3">
    <app-hero-search></app-hero-search>
  </div>
  <div class="col-12 col-md-9">
    <ng-container *ngIf="topHeroes$ | async as heroes">
      <hero-top-heroes [heroes]="heroes"></hero-top-heroes>
    </ng-container>
  </div>
  <div class="col-12 col-md-3">
    <hero-messages [messages]="heroMessages" (cleared)="onMessageClear()"></hero-messages>
  </div>
</div>
