<div class="modal-body clearfix">
    <div class="modal-header">
        <h4 class="modal-title">Wybór roli</h4>
    </div>
    <div class="modal-text">
        <div *ngIf="filterError" class="text-danger">Wpisz przynajmniej 3 znaki</div>
        <form name="form" (ngSubmit)="f.form.valid && onFilter(f)" #f="ngForm" autocomplete="off">
            <div class="datatable table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <th scope="col"><a (click)="onSort('id')">Id <span *ngIf="sortBy == 'created'" [innerHTML]="getSortClass('id')"></span></a></th>
                        <th scope="col"><a (click)="onSort('name')">Name <span *ngIf="sortBy == 'name'" [innerHTML]="getSortClass('name')"></span></a></th>
                        <th scope="col">
                            <select *ngIf="limitEnabled" class="form-control form-control-sm float-right" name="limit" id="limit" (change)="onChangeLimit($event.target.value)">
                                <option *ngFor="let value of limitValues" [ngValue]="value" [selected]="value == this.limit">{{value}}</option>
                            </select>
                        </th>
                    </thead>
                    <tr *ngIf="filterEnabled">
                        <th><input type="text" class="form-control form-control-sm" name="id" [(ngModel)]="model.id" #id="ngModel"></th>
                        <th><input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" #name="ngModel"></th>
                        <th style="width: 73px;">
                            <div class="btn-group">
                                <input type="image" class="form-control form-control-sm mr-1" src="/assets/icons/search.svg" width="20" height="20" title="Wyszukaj" />
                                <input type="image" class="form-control form-control-sm" src="/assets/icons/x.svg" alt="" width="24" height="24" title="Usuń filtr" (click)="f.reset();$event.preventDefault();onFilterReset();" />
                            </div>
                        </th>
                    </tr>
                    <tbody *ngIf="items?.length > 0">
                        <tr *ngFor="let item of items">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <a class="mr-1" (click)="onSelectConfirm(item)"><app-icon-b name="plus" title="Wybierz"></app-icon-b></a>
                            </td>
                        </tr>
                    </tbody>
                    <caption *ngIf="items?.length == 0">No records</caption>
                </table>
            </div>
        </form>
        <div *ngIf="items?.length > 0  && total > limit" class="row justify-content-center">
            <div class="col-4">Total: {{ total }}</div>
            <div class="col-4 text-center">Page {{page}} z {{getTotalPage()}}</div>
            <div class="col-4">
                <button class="btn btn-primary btn-sm float-right ml-1" [disabled]="total <= limit*page" (click)="onNext()">&gt;</button>
                <button class="btn btn-primary btn-sm float-right" [disabled]="page == 1" (click)="onPrev()">&lt;</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="onCancel()">Anuluj</button>
</div>