<footer class="mt-4 pt-3 border-top">
  <div class="row">
    <div class="col-6 col-md">
      <ul class="list-unstyled">
        <li><a class="text-muted" routerLink="home">Home</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled">
        <li><a class="text-muted" routerLink="test">Test</a></li>
      </ul>
    </div>
    <div class="col-6 col-md"></div>
    <div class="col-12 col-md">
      <p class="text-muted">sebastiangolian@gmail.com 2019</p>
    </div>
  </div>
</footer>