<div class="row">
    <div class="col-12 col-md-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">User search</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="col" colspan="2" class="p-0">
                        <input type="text" class="form-control form-control-sm" size="100%" name="id"
                            (input)="onSearch($event.target.value)" #id placeholder="empty user id">
                    </th>
                </tr>
                <tbody *ngIf="item">
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{item.id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{item.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Zipcode</th>
                        <td>{{item.zipCode}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Create date</th>
                        <td>{{item.created}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Is active</th>
                        <td>{{item.active | boolean}}</td>
                    </tr>
                </tbody>
                <caption [innerHTML]="caption"></caption>
            </table>
        </div>
    </div>
</div>