<table *ngIf="photos$|async as photos" class='table'>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">albumId</th>
            <th scope="col">title</th>
            <th scope="col">thumbnailUrl</th>
            <th scope="col">url</th>
        </tr>
    </thead>
    <tr *ngFor="let photo of photos">
        <td [innerHTML]="photo.id"></td>
        <td [innerHTML]="photo.albumId"></td>
        <td [innerHTML]="photo.title"></td>
        <td [innerHTML]="photo.thumbnailUrl"></td>
        <td [innerHTML]="photo.url"></td>
    </tr>
</table>