<pre class="row">Form.value: {{postCreateForm.value | json}}</pre>
<pre class="row">{{postCreateForm.errors | json}}</pre>
<pre class="row">Form.status: {{postCreateForm.status }}</pre>
<form #postCreateForm="ngForm" (ngSubmit)="submit(postCreateForm.value)">
  <div class="form-group">
    <!-- TITLE -->
    <label for="name">
      Title
      <sup class="text-danger">*</sup>
    </label>
    <input id="title" name="title" class="form-control" [(ngModel)]="model.title" #title="ngModel"
      [class.is-invalid]="title.invalid && title.touched" minlength="3" maxlength="20" required>
    <div class="text-danger" *ngIf="title.touched">
      <small class="text-danger" *ngIf="title?.errors?.required">
        Title field is required
      </small>
      <small class="text-danger" *ngIf="title?.errors?.minlength">
        Title length is to small
      </small>
      <small class="text-danger" *ngIf="title?.errors?.maxlength">
        Title length is to big
      </small>
    </div>
  </div>
  <!-- BODY -->
  <div class="form-group">
    <label for="name">
      Body
      <sup class="text-danger">*</sup>
    </label>
    <input #body="ngModel" [(ngModel)]="model.body" required type="name" class="form-control" id="body" name="body"
      [class.is-invalid]="body.invalid && body.touched" maxlength="50" minlength="3">
    <div class="text-danger" *ngIf="body.touched">
      <small class="text-danger" *ngIf="body?.errors?.required">
        Body field is required
      </small>
      <small class="text-danger" *ngIf="body?.errors?.minlength">
        Body length is to small
      </small>
      <small class="text-danger" *ngIf="body?.errors?.maxlength">
        Body length is to big
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!postCreateForm.valid">
    Submit
  </button>
  <button type="reset" class="btn btn-danger">
    Reset
  </button>
  <a class="btn btn-primary btn" [routerLink]="'/post/'">Cancel</a>
</form>