<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" autocomplete="off">

    <div class="form-group">
        <label>Tytuł:</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" size="35"
            [class.is-invalid]="title.invalid && title.touched" minlength="3" maxlength="35"
            pattern='[0-9a-zA-ZĄąĆćĘęŁłŃńÓóŚśŹźŻż\s."-]*' required>
        <div *ngIf="title.touched && title.invalid" class="text-danger">
            <div *ngIf="!!title.errors.required">Tytuł jest wymagany</div>
            <div *ngIf="!!title.errors.minlength">Tytuł musi mieć conajmniej 3 znaki</div>
            <div *ngIf="!!title.errors.maxlength">Tytuł nie może być dłuższe niż 35 znaków</div>
            <div *ngIf="!!title.errors.pattern">Użyłeś niedozwolonych znaków</div>
        </div>
    </div>

    <div class="form-group">
        <label>Treść:</label>
        <input type="text" class="form-control" name="body" [(ngModel)]="model.body" #body="ngModel" size="35"
            [class.is-invalid]="body.invalid && body.touched" minlength="3" maxlength="255"
            pattern='[0-9a-zA-ZĄąĆćĘęŁłŃńÓóŚśŹźŻż\s."-]*' required>
        <div *ngIf="body.touched && body.invalid" class="text-danger">
            <div *ngIf="!!body.errors.required">Treść jest wymagana</div>
            <div *ngIf="!!body.errors.minlength">Treść musi mieć conajmniej 3 znaki</div>
            <div *ngIf="!!body.errors.maxlength">Treść nie może być dłuższe niż 255 znaków</div>
            <div *ngIf="!!body.errors.pattern">Użyłeś niedozwolonych znaków</div>
        </div>
    </div>

    <p class="btn-group">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{ action }}</button>
        <button type="reset" class="btn btn-info">Wyczyść</button>
        <button class="btn btn-primary" routerLink="../">Cofnij</button>
    </p>
</form>