<div *ngIf="car">
    <div>Car: {{car.toString()}}</div>
    <div [class.text-success]="car.active" [class.text-danger]="!car.active">Status: {{car.active}}</div>
    <div [ngClass]="carPriceClasses">Price value: {{car.price}}$</div>

    <div [ngSwitch]="car.price">
        <p *ngSwitchCase="1000" class="text-success">Price: Little</p>
        <p *ngSwitchCase="2000" class="text-primary">Price: Hard</p>
        <p *ngSwitchDefault class="text-danger">Price: Very hard</p>
    </div>

    <button class="btn btn-primary btn-sm" (click)="toggleActive(car)">Toogle active</button>
    <button class="btn btn-primary btn-sm" (click)="changePrice()">Change price</button>
    <button class="btn btn-primary btn-sm" (click)="set()">Set current</button>

    <hr />
</div>