<a class="btn btn-outline-dark mr-1 mb-3" [routerLink]="'/hero/dashboard'">Dashboard</a>
<a class="btn btn-outline-dark active mb-3" [routerLink]="'/hero/'">Heroes</a>

<div>
  <label>Nazwa: <input #heroName /></label>
  <button class="btn btn-sm btn-outline-dark mb-1 ml-1" (click)="add(heroName.value); heroName.value=''">Dodaj</button>
</div>

<div class="hero" *ngFor="let hero of heroes">
  <div class="hero-id">{{hero.id}}</div> 
  <div class="hero-name"><a routerLink="/hero/detail/{{hero.id}}">{{hero.name}}</a></div>
  <div class="hero-delete" (click)="delete(hero)">X</div>
</div>

<hero-messages></hero-messages>
