<ul class="navbar-nav" (click)="onClick()">
  <li class="nav-item">
    <a class="nav-link" routerLink="test" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="post" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="hero" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="car" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="jsonplaceholder" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      >Jsonplaceholder</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="other" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Other</a>
  </li>
</ul>
