<img data-src="https://picsum.photos/id/1/600/600" width="600" height="600" [isBlob]="true" lazyLoadingImage />
<img data-src="https://picsum.photos/id/2/600/600" width="600" height="600" [isBlob]="true" lazyLoadingImage />
<img data-src="https://picsum.photos/id/3/600/600" width="600" height="600" [isBlob]="true" lazyLoadingImage />
<img data-src="https://picsum.photos/id/4/600/600" width="600" height="600" [isBlob]="true" lazyLoadingImage />
<img data-src="https://picsum.photos/id/5/600/600" width="600" height="600" [isBlob]="true" lazyLoadingImage />
<img data-src="https://picsum.photos/id/15/600/600" width="600" height="600" lazyLoadingImage (visibleChange)="onVisibleChange($event)" />
<img data-src="https://picsum.photos/id/16/600/600" width="600" height="600" lazyLoadingImage />
<img data-src="https://picsum.photos/id/17/600/600" width="600" height="600" lazyLoadingImage />
<img data-src="https://picsum.photos/id/18/600/600" width="600" height="600" lazyLoadingImage />
<img data-src="https://picsum.photos/id/19/600/600" width="600" height="600" lazyLoadingImage />
