<div class="input-group mb-2 mr-sm-2">
  <div class="input-group-prepend">
    <div class="input-group-text">Search</div>
  </div>
  <input type="text" class="form-control" name="search" (input)="onSearch(searchInput.value)" #searchInput />
  <div class="input-group-prepend">
    <div class="input-group-text hand" (click)="onClear()">X</div>
  </div>
</div>
<ul *ngIf="searchResults$ | async as results" class="list-group">
  <ng-container *ngIf="viewSearchResult">
    <wikipedia-item *ngFor="let result of results" [result]="result" (itemSelect)="onItemSelected($event)"></wikipedia-item>
  </ng-container>
</ul>

<wikipedia-parse-item *ngIf="wikiResult && viewWikiResult" [item]="wikiResult"></wikipedia-parse-item>
<ng-container *ngIf="!wikiResult && viewWikiResult">Loading...</ng-container>
