<body class="h-100 d-flex flex-column">
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">angular-playground</a>
            <div [collapse]=isCollapsed class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav ml-auto mr-5" (click)="isCollapsed = !isCollapsed">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="test" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="post" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="hero" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Hero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="car" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="wikipedia" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="jsonplaceholder" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Jsonplaceholder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="other" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Other</a>
                    </li>
                </ul>
                <button class="btn btn-outline-dark my-2 my-sm-0" (click)="onReset()">Clear memory</button>
            </div>
        </div>
    </nav>

    <main role="main" class="container pt-4 position-relative flex-grow-1 my-2">
        <app-spinner></app-spinner>
        <!-- <messages-alert></messages-alert> -->
        <messages-modal></messages-modal>
        <ng-container *ngIf="$header|async as header">
            <h1 [innerHtml]="header"></h1>
        </ng-container>
        <router-outlet></router-outlet>
    </main>

    <footer class="text-light bg-dark">
        <div class="container p-4">
            <div class="row text-center d-flex align-items-center">
                <div class="col-md-4 text-md-left py-2">
                    <a href="#" class="text-light">Home</a>
                </div>
                <div class="col-md-4 py-2">
                    <a class="text-light text-decoration-none mr-2" href="#">
                        <icon-b width="32" height="32" name="facebook"></icon-b>
                    </a>
                    <a class="text-light text-decoration-none mr-2" href="#">
                        <icon-b width="32" height="32" name="twitter"></icon-b>
                    </a>
                    <a class="text-light text-decoration-none mr-2" href="#">
                        <icon-b width="32" height="32" name="instagram"></icon-b>
                    </a>
                    <i class="fab fa-facebook fa-2x mr-1"></i>
                    <i class="fab fa-twitter fa-2x mr-1"></i>
                    <i class="fab fa-instagram fa-2x mr-1"></i>
                    <i class="fab fa-tiktok fa-2x"></i>
                </div>
                <div class="col-md-4 text-md-right py-2">
                    <a href="mailto:sebastiangolian@gmail.com" class="text-white">sebastiangolian@gmail.com </a>2021
                </div>
            </div>
        </div>
    </footer>
</body>