<h2>Create Car</h2>

<h3>Car Name is {{car | json}}</h3>
<h3>Data has been confirmed: {{confirmed}}</h3>

<form (ngSubmit)="createCar()">

  <div class=" form-group car-name">
    <label for="name">
      Name
      <sup class="text-danger">*</sup>
    </label>
    <input class="form-control" type="text" placeholder="Car Name" required name="carName" [(ngModel)]="car.name">
  </div>

  <div class=" form-group car-price">
    <label for="name">
      Price
      <sup class="text-danger">*</sup>
    </label>
    <input class="form-control" type="number" placeholder="Car Price" name="carPrice" [ngModel]="car.price"
      (ngModelChange)="setPrice($event)">
  </div>

  <div class="form-group car-type">
    <div>
      <label for="name">
        Type
        <sup class="text-danger">*</sup>
      </label>
      <select class="form-control" name="carType" [(ngModel)]="car.type">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="form-group car-confirm">
    <input type="checkbox" name="carConfirm" [(ngModel)]="confirmed">
    I confirm that the information provided above is accurate!
  </div>

  <button class="btn btn-primary" [disabled]="!confirmed" type="submit">Create</button>
</form>