<h2>Create Car</h2>

<h3>Car Name is {{car | json}}</h3>
<h3>Data has been confirmed: {{confirmed}}</h3>

<form (ngSubmit)="createCar(carForm)" #carForm="ngForm">

  <div class=" form-group car-name">
    <label for="name">
      Name
      <sup class="text-danger">*</sup>
    </label>
    <input class="form-control" type="text" placeholder="Car Name" required name="name" [(ngModel)]="car.name"
      minlength="2" required #name="ngModel">
    <div *ngIf="name.dirty && name.invalid">
      <div *ngIf="name?.errors.required">Car name is required</div>
      <div *ngIf="name?.errors.minlength">Car name must be atleast of length 2</div>
    </div>
  </div>

  <div class=" form-group car-price">
    <label for="price">
      Price
      <sup class="text-danger">*</sup>
    </label>
    <input class="form-control" type="number" placeholder="Car Price" name="price" [ngModel]="car.price"
      #price="ngModel" (ngModelChange)="setPrice($event)">
    <div *ngIf="price.dirty && price.invalid">
      <div *ngIf="price?.errors.required">Car price is required</div>
    </div>
  </div>

  <div class="form-group car-type">
    <div>
      <label for="type">
        Type
        <sup class="text-danger">*</sup>
      </label>
      <select class="form-control" name="type" [(ngModel)]="car.type">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="form-group car-confirm">
    <input type="checkbox" name="carConfirm" [(ngModel)]="confirmed">
    I confirm that the information provided above is accurate!
  </div>

  <button class="btn btn-primary" [disabled]="!confirmed" type="submit">Create</button>
</form>