.hero {
  margin-bottom: 5px;
  font-size: 14px;
  width: 200px;
}
.hero:hover {
  margin-left: 5px;
}
.hero-id {
  display: inline-block;
  background-color: #607d8b;
  padding: 5px 10px 5px 8px;
  color: white;
  border-radius: 4px 0 0 4px;
  width: 30px;
  text-align: right;
}
.hero-name {
  display: inline-block;
  padding: 5px;
  background-color: #eeeeee;
  color: #888;
  width: 120px;
}
.hero-name a {
  text-decoration: none;
}
.hero-delete {
  display: inline-block;
  padding: 5px 5px 5px 10px;
  background-color: #808080;
  color: white;
  width: 28px;
  border-radius: 0 4px 4px 0;
  cursor: hand;
}
