<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/1/600/600" [isBlob]="true">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/2/600/600" [isBlob]="true">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/3/600/600" [isBlob]="true">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/4/600/600" [isBlob]="true">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/5/600/600" [isBlob]="true">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/11/600/600" [isBlob]="false">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/21/600/600" [isBlob]="false">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/31/600/600" [isBlob]="false">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/41/600/600" [isBlob]="false">
</image-lazy-loading>
<image-lazy-loading class="clearfix" height="600" width="600" src="https://picsum.photos/id/51/600/600" [isBlob]="false">
</image-lazy-loading>