<!-- {
    id: 1,
    name: "Leanne Graham",
    username: "Bret",
    email: "Sincere@april.biz",
    address: {
    street: "Kulas Light",
    suite: "Apt. 556",
    city: "Gwenborough",
    zipcode: "92998-3874",
    geo: {
    lat: "-37.3159",
    lng: "81.1496"
    }
    },
    phone: "1-770-736-8031 x56442",
    website: "hildegard.org",
    company: {
    name: "Romaguera-Crona",
    catchPhrase: "Multi-layered client-server neural-net",
    bs: "harness real-time e-markets"
    }
    }, -->
<form *ngIf="user" name="form" (ngSubmit)="f.form.valid && submit.emit(user)"
    #f="ngForm" autocomplete="off">

    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="title"
            [(ngModel)]="user.name"
            #name="ngModel" required>
    </div>

    <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" name="username"
            [(ngModel)]="user.username" #username="ngModel" required>
    </div>

    <p class="btn-group">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid" [innerHTML]="buttonSubmitText"></button>
        <button class="btn btn-primary" (click)="cancel.emit()">Cancel</button>
    </p>
</form>
