<nav class="py-2">
  <ul class="nav">
      <li class="nav-item">
          <a
              class="btn btn-secondary"
              routerLink=""
              routerLinkActive="btn-success"
              [routerLinkActiveOptions]="{ exact: true }"
          >
              Home
          </a>
      </li>
      <li class="nav-item">
        <a
            class="btn btn-secondary"
            routerLink="movies"
            routerLinkActive="btn-success"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Movies
        </a>
    </li>
      <li class="nav-item">
          <a
              class="btn btn-secondary"
              routerLink="contact"
              routerLinkActive="btn-success"
              [routerLinkActiveOptions]="{ exact: true }"
          >
              Contact
          </a>
      </li>
  </ul>
</nav>
