<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input class="form-control" formControlName="firstName">
    <div *ngIf="!!f.firstName.invalid && (!!f.firstName.dirty || !!f.firstName.touched)" class="text-danger">
      <div *ngIf="!!f.firstName.errors.required">Required</div>
      <div *ngIf="!!f.firstName.errors.minlength">Min 3 characters long.</div>  
      <div *ngIf="!!f.firstName.errors.maxlength">Max 25 characters long.</div>  
    </div>
  </label>

  <label>
    Last Name:
    <input formControlName="lastName" class="form-control">
    <div *ngIf="!!f.lastName.invalid && (!!f.lastName.dirty || !!f.lastName.touched)" class="text-danger">
      <div *ngIf="!!f.lastName.errors.required">Required</div>
      <div *ngIf="!!f.lastName.errors.minlength">Min 3 characters long.</div>  
      <div *ngIf="!!f.lastName.errors.maxlength">Max 25 characters long.</div>  
    </div>
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input formControlName="street" class="form-control">
      <div *ngIf="!!f.address.controls.street.invalid && (!!f.address.controls.street.dirty || !!f.address.controls.street.touched)" class="text-danger">
        <div *ngIf="!!f.address.controls.street.errors.required">Required</div>
      </div>
    </label>

    <label>
      City:
      <input formControlName="city" class="form-control">
      <div *ngIf="!!f.address.controls.city.invalid && (!!f.address.controls.city.dirty || !!f.address.controls.city.touched)" class="text-danger">
        <div *ngIf="!!f.address.controls.city.errors.required">Required</div>
      </div>
    </label>

    <label>
      State:
      <input formControlName="state" class="form-control">
      <div *ngIf="!!f.address.controls.state.invalid && (!!f.address.controls.state.dirty || !!f.address.controls.state.touched)" class="text-danger">
        <div *ngIf="!!f.address.controls.state.errors.required">Required</div>
      </div>
    </label>

    <label>
      Zip Code:
      <input formControlName="zip" class="form-control">
      <div *ngIf="!!f.address.controls.zip.invalid && (!!f.address.controls.zip.dirty || !!f.address.controls.zip.touched)" class="text-danger">
        <div *ngIf="!!f.address.controls.zip.errors.required">Required</div>
      </div>
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3> 
    
    <button type="button" (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      <label>
        Alias:
        <input [formControlName]="i" class="form-control">
      </label>
    </div>
  </div>

  <p>Form status: {{ profileForm.status }}</p>
  <p>Form value: {{ profileForm.value | json }}</p>

  <p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="button" (click)="addDefault()">Add default</button>
    <button type="reset">Reset</button>
  </p>
</form>

